# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
dist/
build/

# Переменные окружения и секреты (ОЧЕНЬ ВАЖНО!)
.env

# База данных SQLite (чтобы не гнать мусор, на сервере она создастся заново)
*.db
*.sqlite
*.sqlite3

# Файлы сессий Telethon (на всякий случай)
*.session

# IDE
.vscode/
.idea/